 .main-container
    {
        width:800px;
    }
    .container{
      width: 1100px;
      float: left;
      border:1px solid;
    }
    .friends-list
    {
       width: 100px;
       float:right;
       border:1px solid;
    }
